* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  BODY */

body {
    color: white;
}

/* HEADER */

.header {
    background-image: url('../images/espaco3.jpg');
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



.header .nav-header .list-header {
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
}

.header .nav-header .list-header .li-header {
    list-style-type: none;
}
.header .nav-header .list-header .li-header > a {
    text-decoration: none;
    color: white;
}

.header .box-header {
    width: 40vw;
    height: 40vh;
    position: relative;
    top: 30%;
    left: 35%;
   
}

/* .header .box-header > h2 {
    color: #fff;
    text-align: center;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
} */

/* MAIN */

.main {
    height: 400vh;
    border: 1px solid green;
    padding: 1rem;
    color: black;
}

.main .box-images {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 300vh;
}

.main .box-images .div-image {
    border: 1px solid blue;
    height: 80vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main .box-images .div-image:nth-child(1) {
    flex-direction: row-reverse;
}
