* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  BODY */

body {
    color: black;
 
}

/* HEADER */

.header {
    /* background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal; */
   
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(167, 207, 223, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #c6e0ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #0033cc 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #b3d9ff 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #9fc5e8 0%, #c6b18b 69%, #a1a392 70%, #6e91a2 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.header .nav-header .list-header {
    display: flex;
    font-size: 1.3rem;
}

.header .nav-header .list-header .li-header {
    list-style-type: none;
    margin-left: 1rem;
}
.header .nav-header .list-header .li-header > a {
    text-decoration: none;
    color: black;
}

.header .box-header {
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: 15%;
   
}



/* MAIN */

.main {
    height: 400vh;
    border: 1px solid green;
    padding: 1rem;
    color: black;
}

.main .box-images {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5rem;
   border-end-start-radius: 5rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   color: black;
    height: 220vh;


}

.main .box-images .div-image {
    border: 1px solid blue;
    height: 70vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main .box-images .div-image  > p {
    border: 1px solid black;
    width: 35vw;
    text-align: center;
    font-size: 1.5rem;
}


.main .box-images .div-image:nth-child(2) {
    flex-direction: row-reverse;
}

.main .box-images .div-image .img {
    --s: 10px;
    /* size of the frame */
    --b: 2px;
    /* border thickness */
    --w: 350px;
    /* width of the image */
    --c: red;

    width: var(--w);
    height: 340px;
    aspect-ratio: 1;
    object-fit: cover;
    padding: var(--s);
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0,
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0,
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100%,
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100%;
    background-size: 15% 15%;
    background-repeat: no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - var(--s));
    clip-path: inset(var(--s));
    transition: .4s;
    cursor: pointer;
}

.main .box-images .div-image .img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--s);
    clip-path: inset(calc(-1*var(--s) - var(--b)));
    background-size: 45% 45%;
    transition: linear .3s, background-size .3s .4s;

}


