* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  BODY */

body {
    color: white;
}

/* HEADER */

.header {
    background-image: url('../images/espaco3.jpg');
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



.header .nav-header .list-header {
    display: flex;
    font-size: 1.3rem;
}

.header .nav-header .list-header .li-header {
    list-style-type: none;
}
.header .nav-header .list-header .li-header > a {
    text-decoration: none;
    color: white;
}

.header .box-header {
    width: 40vw;
    height: 40vh;
    position: relative;
    top: 30%;
    left: 35%;
   
}

/* .header .box-header > h2 {
    color: #fff;
    text-align: center;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
} */

/* MAIN */

.main {
    height: 400vh;
    border: 1px solid green;
    padding: 1rem;
    color: black;
}

.main .box-images {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 300vh;
}

.main .box-images .div-image {
    border: 1px solid blue;
    height: 80vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main .box-images .div-image  > p {
    border: 1px solid black;
    width: 35vw;
    text-align: center;
    font-size: 1.5rem;
}


.main .box-images .div-image:nth-child(2) {
    flex-direction: row-reverse;
}

.main .box-images .div-image .img {
    --s: 10px;
    /* size of the frame */
    --b: 2px;
    /* border thickness */
    --w: 350px;
    /* width of the image */
    --c: red;

    width: var(--w);
    height: 340px;
    aspect-ratio: 1;
    object-fit: cover;
    padding: var(--s);
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0,
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0,
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100%,
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100%;
    background-size: 15% 15%;
    background-repeat: no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - var(--s));
    clip-path: inset(var(--s));
    transition: .4s;
    cursor: pointer;
}

.main .box-images .div-image .img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--s);
    clip-path: inset(calc(-1*var(--s) - var(--b)));
    background-size: 45% 45%;
    transition: linear .3s, background-size .3s .4s;

}
